.clubhouse-notification {
  background-color: transparent;
  width: 561px;
  border: none; }
  .clubhouse-notification:hover, .clubhouse-notification:focus {
    background-color: transparent; }
  .clubhouse-notification .clubhouse-notification-close-button {
    color: #9B9B9B;
    padding: 9px 5px 0 0; }
  .clubhouse-notification .notification-actions {
    padding: 0;
    margin: 0 0 10px 0; }
  .clubhouse-notification .notification-button {
    color: white;
    background-color: #2D9B98;
    border-radius: 17.5px;
    border: none;
    padding: 10px;
    margin: 5px 12px 5px 0;
    font-family: Metropolis Semibold, sans-serif;
    font-weight: 600;
    /* Semibold */
    font-size: 15px;
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.4);
    min-width: 115px; }
    .clubhouse-notification .notification-button.text-button.child-1 {
      margin-left: 55px; }
    .clubhouse-notification .notification-button.icon-button {
      min-width: 50px;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      padding: 0;
      margin: 0 12px 0 0; }
      .clubhouse-notification .notification-button.icon-button > StIcon {
        icon-size: 24px;
        icon-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.2); }
    .clubhouse-notification .notification-button:hover {
      background-color: #38c3bf; }
    .clubhouse-notification .notification-button:active {
      background-color: #227371; }
    .clubhouse-notification .notification-button.child-1 {
      background-gradient-start: #76EECF;
      background-gradient-end: #37DCB1;
      background-gradient-direction: horizontal; }
      .clubhouse-notification .notification-button.child-1:hover {
        background-gradient-start: #a3f4df;
        background-gradient-end: #62e4c2; }
      .clubhouse-notification .notification-button.child-1:active {
        background-gradient-start: #49e8bf;
        background-gradient-end: #21bf96; }
    .clubhouse-notification .notification-button.child-2 {
      background-gradient-start: #37DCB1;
      background-gradient-end: #32BBA4;
      background-gradient-direction: horizontal; }
      .clubhouse-notification .notification-button.child-2:hover {
        background-gradient-start: #62e4c2;
        background-gradient-end: #50d0bb; }
      .clubhouse-notification .notification-button.child-2:active {
        background-gradient-start: #21bf96;
        background-gradient-end: #279381; }
    .clubhouse-notification .notification-button.child-3 {
      background-gradient-start: #32BBA4;
      background-gradient-end: #2D9B98;
      background-gradient-direction: horizontal; }
      .clubhouse-notification .notification-button.child-3:hover {
        background-gradient-start: #50d0bb;
        background-gradient-end: #38c3bf; }
      .clubhouse-notification .notification-button.child-3:active {
        background-gradient-start: #279381;
        background-gradient-end: #227371; }
  .clubhouse-notification .clubhouse-content-box {
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 12px;
    box-shadow: 0 2px 8px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-left: 25px;
    margin-bottom: 33px; }
  .clubhouse-notification .clubhouse-notification-label {
    color: black;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 331px;
    font: 18px "Metropolis Medium, Sans-Serif"; }
  .clubhouse-notification .clubhouse-notification-icon-bin {
    padding: 0;
    margin: 0; }
  .clubhouse-notification .clubhouse-notification-image {
    icon-size: 175px;
    min-width: 175px;
    min-height: 187px; }
  .clubhouse-notification.clubhouse-item-notification .clubhouse-notification-icon-bin {
    margin-right: 25px; }
  .clubhouse-notification.clubhouse-item-notification .clubhouse-notification-image {
    icon-size: 128px;
    min-width: 128px;
    min-height: 128px; }

.clubhouse-open-button-icon {
  width: 110px;
  height: 110px;
  background-image: url("data/icons/clubhouse-icon-normal.png"); }

.clubhouse-close-button-icon {
  width: 110px;
  height: 110px;
  background-image: url("data/icons/clubhouse-close-button-normal.png"); }

.view-source {
  background-image: url("data/icons/flip-front-normal.png");
  width: 66px;
  height: 124px;
  background-position: -30px 0px;
  transition-duration: 100ms; }
  .view-source.back {
    background-image: url("data/icons/flip-back-normal.png"); }
  .view-source:hover {
    background-image: url("data/icons/flip-front-hover.png"); }
  .view-source.back:hover {
    background-image: url("data/icons/flip-back-hover.png"); }
  .view-source.dimmed, .view-source.dimmed:hover {
    background-image: url("data/icons/flip-front-dimmed.png"); }
  .view-source.back.dimmed, .view-source.back.dimmed:hover {
    background-image: url("data/icons/flip-back-dimmed.png"); }
