// Endless-specific overrides and definitions
//
// All the definitions here will be processed AFTER _common.scss and other SASS
// source files, meaning that they will override the relevant rules in the
// generated CSS files, just as doing it in "raw" CSS would do.
//
// However, be aware that overriding here the values of SASS variables defined in
// those other files won't override the end result for rules already declared in
// those files as well, which will still be using the original value as they are
// pre-processed before _endless.css. In those cases, modifying those files directly
// is probably the best way forward (e.g. modifying _common.css for $font-family)).

// Password Recovery & Hint

.login-dialog-password-recovery-label {
  @include fontsize($base_font_size - 1);
  font-weight: bold;
  color: darken($osd_fg_color,30%);

  .login-dialog-password-recovery-button:focus &,
  .login-dialog-password-recovery-button:hover & {
    color: $osd_fg_color;
  }
}

// Pay As You Go notifications

.notification-payg-entry {
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  letter-spacing: 6px;
  margin: 5px;
}

.notification-payg-code-entry {
  text-align: center;
  font-size: 20px;
  color: darken($osd_fg_color, 20%);
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 6px;
}
